.portfolio{
  padding-top: 75px;
}

.row {
    display: flex;
    }
    
 /*.column {
    flex: 50%;
    }
*/
.prfItem{
  display: flex;
  /*-ms-flex-direction: column;
  flex-direction: column;*/
  justify-content: space-around;
  padding-left: 20px;
}

.prfItem >* {
  width: 50%;
}

.prfItem p{
  font-size: 16px;
}

.link{
        font-family: ubuntu, sans-serif;
        text-decoration: none;
      }

 .quote{
  background-color: #f2f2f2;
  padding: 20px;
      }

@media only screen and (max-width: 600px) {
  .prfItem{
    flex-direction: column;
    padding-left: 0px;
  }

  .prfItem >* {
    width: 100%;
  }

  .prfItem>:first-of-type {
    order:2
   }
   .prfItem>:nth-of-type(2) {
    order:1;
    padding:20px 0 0
   }

  .rObj{
    
    padding-top: 0px;
    padding-left: 0px;
    width: 100%;
  }
  
}

.subtitle h1{
  font-family: ubuntu, sans-serif;
  font-size: 30px;

}

.subtitle {
  font-size: 25px;
}

h2{
  font-size:16px;
  font-style: italic;
}

.rObj{
  padding-top: 50px;
  padding-left: 20px;
}


